* {
    font-family: Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
}

.wrapper {
    background: url(../img/bg-head.jpg) center no-repeat;
    background-size: 100%;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    width: 100%;
    padding-top: 50px;
}

.header-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    font-size: 30px;
    font-weight: 800;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    transition: color .2s linear;
}

.header-logo:hover {
    color: #d3d3d3;
}

.navbar {
    font-size: 18px;
    font-weight: 600;
}

.nav-link {
    text-decoration: none;
    color: #fff;
    transition: color .2s linear;
    margin: 0 30px;
}

.nav-link:hover {
    color: #d3d3d3;
}

.heading {
    margin-top: 300px;
    text-align: center;
    color: #fff;
    font-size: 38px;
    font-weight: 600;
}

.subheading {
    margin-top: 5px;
    text-align: center;
    color: #fff;
    font-size: 28px;
    margin-top: 10px;
}

.heading-icon {
    text-align: center;
    margin-top: 200px;
    padding-bottom: 50px;
}

.mouse {
    width: 48px;
    height: 48px;
}

.about-heading {
    text-transform: uppercase;
    color: #303030;
    font-size: 38px;
    font-weight: 600;
    margin-top: 100px;
    text-align: center;
}

.about-subheading {
    color: #747474;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    margin-top: 10px;
}

.about-hr {
    color: #000;
    border: 1px solid;
    border-width: 1px;
    width: 35px;
    margin: auto;
    margin-top: 10px;
}


.about-info {
    margin-top: 130px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.about-block-1 {
    text-align: center;
}

.manage {
    width: 128px;
    height: 128px;
}

.about-block-heading {
    margin-top: 30px;
    font-size: 26px;
    font-weight: 700;
    color: #747474;
}

.lorem {
    margin: 40px;
    text-align: start;
    color: #5f5f5f;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.btn {
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    background: linear-gradient(to left, #8e2de2, #4a00e0, #8e2de2);
    font-weight: 800;
    font-size: 20px;
    padding: 10px 50px;
    font-family: monospace;
    border-radius: 30px;
    transition: .5s;
    background-size: 200%;
}

.btn:hover {
    background-position: right;
}

.bg-works {
    background-color: #ebebeb;
    width: 100%;
    margin-top: 70px;
    padding-bottom: 150px;
}

.works-heading {
    text-align: center;
    padding-top: 50px;
    font-size: 20px;
    font-weight: 600;
    color: #787878;
}

.works-hr {
    color: #000;
    border: 1px solid;
    border-width: 1px;
    width: 35px;
    margin: auto;
    margin-top: 10px;
}

.row {
    display: flex;
    margin-top: 50px;
    flex-wrap: wrap;
}

.block {
    background-color: #616161;
    width: 22%;
    height: 350px;
    margin: 15px;
}

.block-text {
    font-size: 26px;
    color: #fff;
    text-align: center;
    position: relative;
    top: 50%;
}

.references-info {
    text-align: center;
    margin-top: 100px;
    font-size: 20px;
    font-weight: 600;
    color: #787878;
}

.references-hr {
    color: #000;
    border: 1px solid;
    border-width: 1px;
    width: 35px;
    margin: auto;
    margin-top: 10px;
}

.row-references {
    display: flex;
}

.references-photo {
    background-color: #616161;
    width: 77%;
    margin-left: 10px;
    height: 350px;
    margin-top: 100px;
}

.references-block-text {
    color: #fff;
    text-align: center;
    position: relative;
    top: 50%;
    font-size: 26px;
}

.references-heading-text {
    margin-left: 30px;
    margin-top: 200px;
    font-size: 30px;
    font-weight: 600;
    color: #303030;
}

.references-subheading-text {
    margin-left: 30px;
    margin-top: 20px;
    color: #303030;
}

.brands-row {
    display: flex;
}

.apple,
.samsung,
.xiaomi,
.htc,
.huawei,
.sony {
    height: 64px;
    width: 64px;
    margin: 0 auto;
    padding-top: 100px;
}

.bg-contact {
    background-color: #000000;
    width: 100%;
    margin-top: 70px;
    padding-bottom: 150px;
}

.contact-heading {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    padding-top: 100px;
}

.data-container {
    max-width: 1005px;
    margin: 0 auto;
    padding-top: 100px;
    display: flex;
    flex-wrap: wrap;
}

.contact-name {
    background-color: #000;
    color: #c6c6c6;
    font-size: 16px;
    width: 200px;
    outline: none;
}

.hr-name {
    border: 1px solid #c6c6c6;
    margin-top: 5px;
    padding-left: 480px;
}

.contact-e-mail {
    background-color: #000;
    color: #c6c6c6;
    font-size: 16px;
    outline: none;
    width: 200px;
    margin-left: 40px;

}

.hr-mail {
    border: 1px solid #c6c6c6;
    margin-top: 5px;
    margin-left: 40px;
    padding-right: 480px;
    align-items: center;
}

.contact-message {
    background-color: #000;
    color: #c6c6c6;
    margin-top: 100px;
    font-size: 16px;
    outline: none;
    width: 1005px;
}

.hr-message {
    border: 1px solid #c6c6c6;
    margin-top: 5px;
    padding-left: 1005px;
}

.contact-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90px;
    margin: 0;
    padding-bottom: 100px;
    margin-top: -40px;
    background-color: #000;
}

.send {
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    background: #303030;
    font-weight: 800;
    font-size: 24px;
    padding: 10px 50px;
    font-family: monospace;
    text-decoration: none;
}

.data-container2 {
    max-width: 1005px;
    margin: 0 auto;
    padding-top: 100px;
}

.footer-bg {
    background: linear-gradient(to left, #6a26a5, #3d00b9, #7b26c4);
    height: 180px;
}

.footer-row {
    display: flex;
    justify-content: space-between;
}

.footer-logo {
    font-size: 30px;
    font-weight: 800;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    transition: color .2s linear;
}

.footer-adress {
    font-size: 16px;
    color: #fff;
}

.feedback-email {
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    line-height: 2;
}

.feedback {
    text-decoration: none;
    color: #fff;
}
.social {
    display: flex;
}

.facebook {
    width: 32px;
    height: 32px;
    margin-left: 5px;
    cursor: pointer;
}

.twitter {
    width: 32px;
    height: 32px;
    margin-left: 5px;
    cursor: pointer;
}

.google {
    width: 32px;
    height: 32px;
    margin-left: 5px;
    cursor: pointer;
}

.linkedin {
    width: 32px;
    height: 32px;
    margin-left: 5px;
    cursor: pointer;
}

.reserved {
    margin-top: 40px;
    margin-left: -130px;
    color: #fff;
}
