* {
    font-family: Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
}
.wrapper {
    background: url(/landing/img/bg-head.jpg) center no-repeat;
    background-size: 100%;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    width: 100%;
    padding-top: 50px;
}

.header-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    font-size: 30px;
    font-weight: 800;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    transition: color .2s linear;
}

.header-logo:hover {
    color: #d3d3d3;
}

.nav {
    font-size: 18px;
    font-weight: 600;
}

.nav-link {
    display: inline-block;
    margin: 0 30px;
    text-decoration: none;
    color: #fff;
    transition: color .2s linear;
}

.nav-link:hover {
    color: #d3d3d3;
}

.heading {
    margin-top: 300px;
    text-align: center;
    color: #fff;
    font-size: 38px;
    font-weight: 600;
}

.subheading {
    margin-top: 5px;
    text-align: center;
    color: #fff;
    font-size: 28px;
}

.heading-icon {
    text-align: center;
    margin-top: 200px;
    padding-bottom: 50px;
}

.mouse {
    width: 48px;
    height: 48px;
}

.about-heading {
    text-transform: uppercase;
    color: #303030;
    font-size: 38px;
    font-weight: 600;
    margin-top: 100px;
    text-align: center;
}

.about-subheading {
    color: #747474;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
}

hr-about {
    color: #000;
    border: 1px solid;
    border-width: 1px;
    width: 30px;
    margin: 10px auto;
}

.about-info {
    margin-top: 130px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.about-block-1 {
    text-align: center;
}

.manage {
    width: 128px;
    height: 128px;
}

.about-block-heading {
    margin-top: 30px;
    font-size: 26px;
    font-weight: 700;
    color: #747474;
}

.lorem {
    margin: 40px;
    text-align: start;
    color: #5f5f5f;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.btn {
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    background: linear-gradient(to left, #8e2de2, #4a00e0, #8e2de2);
    font-weight: 800;
    font-size: 20px;
    padding: 10px 50px;
    font-family: monospace;
    border-radius: 30px;
    transition: .5s;
    background-size: 200%;
}

.btn:hover {
    background-position: right;
}

.bg-works {
    background-color: #ebebeb;
    width: 100%;
    margin-top: 70px;
}

.works-heading {
    text-align: center;
    padding-top: 50px;
    font-size: 20px;
    font-weight: 600;
    color: #787878;
}

.works-hr {
    color: #000;
    border: 1px solid;
    border-width: 1px;
    width: 30px;
    margin: auto;
    margin-top: 10px;
}

.row {
    display: flex;
    margin-top: 50px;
    flex-wrap: wrap;
}

.block {
    background: linear-gradient(to left, #8e2de2, #4a00e0, #8e2de2);
    width: 33%;
    height: 350px;
    margin: 1px;
    transition: color .5s;
    background-size: 200%;
}

.block:hover {
    background-position: right;
}
.block-text {
    font-size: 26px;
    color: #fff;
    text-align: center;
    position: relative;
    top: 50%;
}
